.container {
    display: flex;
	max-width: 960px;
	margin: 0 auto;
}
.flex-margin {
    margin: 0 10px;
}
* {
    box-sizing: border-box;
}

@media only screen and (max-width: 739px) {
    .container {
	max-width: 300px;
	flex-direction: column;
    }
    .flex-margin {
    margin: 0;
    }
}

/*//////////MENU//////////*/
.logo {
    padding: 8px 0px;
}
.menu-nav {
    flex: 1;
    align-self: center;
}
.menu-nav ul{
    float: right;
    display: flex;
}
.menu-nav ul li a {
    display: block;
    padding: 28px;
    color: #ec1c24;
    font-family: 'Poppins', sans-serif;
    font-size: 0.807em;
}
.menu-nav ul li a:hover {
    background: #ec1c24;
    transition: 0.5s;
    color: #fff;
}
@media only screen and (max-width: 739px) {
    .logo {
        align-self: center;
    }
    .menu-nav ul li a {
        display: block;
        padding: 14px;
        color: #ec1c24;
        font-family: 'Poppins', sans-serif;
        font-size: 0.807em;
    }
}

/*//////////INTRO//////////*/
/* .intro {
    background: url('../img/intro/bg-intro.png') no-repeat center center;
    background-size: cover;
} */
.intro-conteudo {
    width: 400px;
    display: flex;
    padding: 50px 0 0 0px;
    position: absolute;
    flex-direction: column;
    z-index: 3;
}
.bg-intro {
    width: 100%;
    display: block;
}
.intro-conteudo h1 {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
    
}
.intro-conteudo p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.82em;
    padding-bottom: 25px;
    line-height: 1.4em;
}
.intro-conteudo a {
    padding: 20px 40px;
    background: #ec1c24;
    text-align: center;
    font-size: 0.91em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    align-self: flex-start;
}
.intro-conteudo a:hover {
    background: #000;
    transition: 0.5s;
}

.intro-2 {
    background: #fff;
    top: -70px;
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    z-index: 2;
}
.intro-item {
    flex: 1;
    text-align: center;
}
.intro-item p {
    font-size: 1.113em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ec1c24;
    margin-bottom: 20px;
}
.intro-item img {
    margin: 20px;
}

@media only screen and (min-width: 740px) and (max-width: 959px) {  
    .intro {
        justify-content: center;
    }
    .intro-conteudo {
        text-align: center;
        width: 700px;
    }
    .intro-conteudo a {
    align-self: center;
}
    .intro-2 {
        top: -50px;
    } 
}

@media only screen and (max-width: 739px) {
    .rslides {
        display: none;
    }
    .intro-conteudo {
        text-align: center;
        width: 300px;
        padding: 10px;
        position: static;
        background: #361d1d;
    }
    
    .intro-conteudo h1 {
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    .intro-conteudo a {
        align-self: center;
    }
    .intro-2 {
        top: 0px;
        padding-top: 60px;
    }
    
}

/*//////////ABOUT//////////*/

.about-item {
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 772px;
    padding-bottom: 60px;
    justify-content: space-between;
}
.about-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.82em;
    color: #ec1c24;
    font-weight: 500;
    padding-bottom: 25px;
}
.about-item p {
    font-size: 0.91em;
    line-height: 1.3em;
    font-family: 'Roboto', sans-serif;
}
.about-text {
    flex: 1;
    max-width: 375px;
    align-self: center;
}

@media only screen and (max-width: 739px) {
    .about-item {    
        padding: 60px 0;
        flex-direction: column;
        align-items: center;
    }
    
}

/*//////////SERVICES//////////*/
.services {
    background: #f5f5f5;
    padding-bottom: 60px;
}
.services h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.82em;
    color: #ec1c24;
    font-weight: 500;
    padding: 60px 0;
    text-align: center;
}
.services-item {
    max-width: 313px;
    text-align: center;
    padding: 80px 40px 50px 40px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.services-item h3 {
    color: #ec1c24;
    font-size: 1.13em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 50px 0 25px 0;
}
.services-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.82em;
}

/*//////////AFFILIATED//////////*/
.services-affiliated h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.82em;
    color: #ec1c24;
    font-weight: 500;
    padding-top: 60px;
    text-align: center;
}
.affiliated-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.affiliated-item img {
    padding: 60px;
}


/*//////////CONTACT//////////*/
.contact {
    background: #f5f5f5;
    padding: 60px 0;
}
.contact-item {
    display: flex;
    flex-direction: column;
    max-width: 515px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
}
.contact-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.82em;
    color: #ec1c24;
    font-weight: 500;
    padding: 0px 0px 15px;
    align-self: flex-start;
}
.contact-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.91em;
    line-height: 1.4em;
    align-self: flex-start;
    max-width: 370px;
}
.contact-item form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 0.81em;
    max-width: 100%;
}
.contact-item form input, textarea {
    padding: 5px;
    background: #e8e8e8;
    border: 0px;
    
}
.contact-item form label {
    padding: 10px 0px 7px 0px;
}
.redes-sociais {
    display: flex;
    margin-top: 20px;
}
.icones-socais {
    flex: 1;
    display: flex;
    display: block;
    align-self: center;
}
.icones-socais img {
    margin: 0 5px;
}
.botao {
    padding: 20px 40px;
    background: #ec1c24;
    text-align: center;
    font-size: 0.91em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}
.botao:hover {
    background: #000;
    transition: 0.5s;
}

@media only screen and (max-width: 739px) {
    .redes-sociais {
        flex-direction: column;
        margin-top: 20px;
    }
    .icones-socais {
        padding-bottom: 10px;
    }
    .botao {
        width: 172px;
        padding: 20px 0px;
        align-self: center;
    }
}

/*//////////FOOTER//////////*/
.footer {
    background: #1f1f1f;
    height: 140px;
}
.menu-footer, .contato-footer {
    flex: 1;
}
.menu-footer ul {
    display: flex;
}
.menu-footer ul li a {
    display: block;
    margin: 42px 14px 0px 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 0.807em;
    border-bottom: 4px solid #1f1f1f;
}
.menu-footer ul li a:hover {
    border-bottom: 4px solid #ec1c24;
    transition: 0.5s;
}
.contato-footer {
    display: flex;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 0.807em;
    margin-top: 42px;
    justify-content: space-between;
}
.contato-footer div {
    display: flex;
}
.contato-footer div span {
    color: #ec1c24;
}
.frase-footer {
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05em;
    margin-top: 25px;
}
@media only screen and (max-width: 739px) {
    .footer {
        background: #1f1f1f;
        height: 220px;
    }
    .contato-footer {
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
    }
    .frase-footer {
        width: 300px;
        margin: 0 auto;
    }
}

/* Plugins slides */
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

/* ANIMAÇÃO */

.anime {
    opacity: 0;
    transform: translate3d(-100px, 0px, 0px);
}

.anime-init {
    opacity: 1;
    transition: 1s;
    transform: translate3d(0px, 0px, 0px);
}






































